body {
    margin: 0;
    background-color: darkmagenta;
    color: white;
    min-height: 100vh;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 22px;
}

input[type=number] {
    width: 50px;
    border: 1px solid darkblue;
    border-radius: 8px;
    padding: 6px;
    font-size: 16px;
}

input[type=number]:focus {
    outline: none;
}
